.stickerboard {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
}

.sticker {
  margin: 0px;
  border: none;
  padding: 0px;
}

.border {
  border: 10px solid var(--accent);
}

.sticker-border {
  border-radius: 10px;
  border: 8px solid white;
  box-shadow: 0px 0px 8px -3px;
}