:root {
  --font-size: 1.6rem
}

body {
  font-family: "Medodica", monospace;
  font-weight: 100;
  line-height: 1;
}

ul {
  list-style: square outside;
}

.image-list {
  column-count: 2;
  /* Количество колонок */
  column-gap: 1em;
  /* Расстояние между колонками */
}

.image-list img {
  width: 100%;
  display: block;
  margin-bottom: 1em;
}