<div style="display: flex; flex-wrap: wrap;">
    {{ $search := "https://duckduckgo.com/?q=" }}
    {{ range .Page.Params.item }}
        <div>
            <div style="margin-top: 30px; ">
                <a
                    style="text-decoration: none; color: var(--foreground)"
                    href="{{ $search }}}{{ replace .name ' ' '+'}}"
                >
                    <b style="font-size: 1.2em">{{ .name }}</b> | {{ .type }}
                </a>
            </div>
            <img src="{{ .image | relURL }}" alt="{{ .name }}">
        </div>
    {{ end }}
</div>
