<div style="display: block; gap: 20px">
    <!-- <div> -->
    	<!-- <img style="margin: 5px 0" src="{{ .Page.Params.avatar.name}}" width="360px"> -->
    <!-- </div> -->
    <div class="image-list" style="display: flex; flex-flow: wrap">
        {{ if .Page.Params.flagsC1}}
            {{ range .Page.Params.flagsC1 }}
                <div>
                    {{ if .url }}
                        <img
                            style="margin: 5px 0; border: 0px; width: {{- cond (.width | default false) .width "150px" }}"
                            src="{{ .url }}"
                            alt="">
                    {{ end }}
                    {{ if .path }}
                        {{ $img := resources.Get .path }}
                        <img
                            style="margin: 5px 0; border: 0px; width: {{- cond (.width | default false) .width "150px" }}"
                            src="{{ $img.RelPermalink }}"
                            alt="">
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}
        {{ if .Page.Params.qualities }}
        	<h2 style="margin-bottom: 5px">Bio</h2>
        {{ end }}
    </div>
    <div class="image-list" style="display: flex; gap: 10px; width: auto; flex-flow: wrap;">
        {{ if .Page.Params.flagsC2}}
            {{ range .Page.Params.flagsC2 }}
                <div>
                    {{ if .url }}
                        <img
                            style="margin: 5px 0; border: 0px; width: {{- cond (.width | default false) .width "150px" }}"
                            src="{{ .url }}"
                            alt="">
                    {{ end }}
                    {{ if .path }}
                        {{ $img := resources.Get .path }}
                        <img
                            style="margin: 5px 0; border: 0px; width: {{- cond (.width | default false) .width "150px" }}"
                            src="{{ $img.RelPermalink }}"
                            alt="">
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}
        {{ if .Page.Params.qualities }}
        	<h2 style="margin-bottom: 5px">Bio</h2>
        {{ end }}
    </div> 
</div>
